/node_modules
/public/hot
/public/storage
/vendor
/.idea
bootstrap/cache/*
!bootstrap/cache/.gitkeep
storage/logs/*
storage/app/*
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
storage/api-docs/api-docs.json
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/contus/files/
/public/uploads/
/public/mix-manifest.json
/public/contus/base/css/common.css
/public/contus/base/js/global.js
/public/contus/
